.header-logo{
    width: 7rem;
    margin: 0 0.3rem;
}

.body-justify-center {
    justify-content: center;
}

.border-radius {
    border-radius: 1rem;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}